.table-hover tbody tr:hover td,
.selected-row td {
  background-color: #59cfde;
}

.btn-group .btn , .controls .btn{
  background-color: #00b5cc;
  border-color: #00b5cc;
  color: #ffffff; 
}

.btn-group .btn.active,
.btn-group .btn:hover,
.controls .btn:hover {
  background-color: #0197ab;
  border-color: #0197ab;
  color: #ffffff; 
}

.btn-group .btn.active {
  background-color: #018ea1;
  border-color: #018ea1;
  color: #ffffff; 
}

.btn-group .btn span {
  display: none; 
}

.form-control:hover,
.form-control:focus,
.form-select:hover,
.form-select:focus,
.charcard {
  box-shadow: 0px 0px 0px 3px #4cb5c37c; 
  border: 1px solid #b2df28;
}
